@font-face {
    font-family: new_font;
    src: url(font/94-font.ttf);
}

body {
    width: 50%;
    margin: auto;
    background-color: burlywood;
}
h1{
    font-family: new_font, sans-serif;
    color: rgb(243, 243, 5);
}
h2{
    color: red;
}
a{
    color: blue;
}
img{
    border: 5px solid red;
    width: 500px;
    margin-left: 50px;
}
ul{
    list-style-type:circle;
}
.BIG_TEXT{
    font-size: 1.5rem;
}
a:hover{
    color: chartreuse;
}