@font-face{
    font-family: new_font;
    src: url(font/94-font.ttf);
}
body{
    background-color: rgb(157, 231, 157);
}

h1{
    font-family: new_font, sans-serif;
    color: red;
}

img{
    width: 500px;
    border: 5px solid brown;
}
ul{
    list-style-type: square;
}

a:hover{
    color: red;
}
